@font-face {
  font-family: "Akira";
  src: url("./Assets//Akira.otf");
}

body {
  background-color: rgb(255, 166, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akira";
  color: #fff;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.5);
}

#cartButton {
  color: white;
  text-decoration: none;
}

.homeBody {
  width: 100dvw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.homeBody p {
  width: 80%;
  margin-top: 100px;
}

.mappedProducts {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5%;
  place-items: center;
}
.storeProduct {
  padding: 30px 0px;
  width: 400px;
  height: 500px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
}

.storeProduct button {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 166, 0);
  border: none;
  width: 100px;
  height: 30px;
  font-weight: 900;
  border-radius: 3px;
  font-family: "Akira";
  font-size: 10px;
}

.cartItems {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartProduct {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  width: 50%;
  height: 120px;
  border-radius: 30px;
}

@media (max-width: 450px) {
  .header {
    width: 100%;
    height: 5%;
    font-size: 12px;
  }

  .mappedProducts {
    grid-template-columns: 1fr;
  }

  .storeProduct {
    width: 300px;
    height: 400px;
  }

  .cartProduct {
    font-size: 10px;
    width: 80%;
  }

  .totalPrice {
    margin-top: 20px;
    font-size: 10px;
  }
}
